<section class="login background">
    <div class="form-container">
        <h1>Entrar</h1>
        <p>Preencha os campos com suas informações e aproveite as oportunidades!</p>
        <form action="">
            <div>
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
            </div>

            <div>
                <label for="password">Senha:</label>
                <input type="password" name="password" id="password" placeholder="Digite sua senha">
            </div>
        </form>

        <button type="submit" (click)="login()">Entrar</button>
    </div>

    <img src="../../../assets/images/auto-saler-background.webp" alt="Auto Saler Background" class="background-image">
</section>