* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFF;
    --secondary-color: #000;
    --third-color: #0A64FF;
}

html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    background: var(--secondary-color);
}

input {
    border: 1px solid var(--primary-color);
    background: none;
    border-radius: 0.5em;
    font-size: 1rem;
    outline: none;
    padding: .5rem 1rem;
    color: var(--primary-color);
}

button {
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1.5rem;
    background: var(--third-color);
    color: var(--primary-color);
    font-weight: bold;
}

h1 {
    font-size: 3rem;
}